<p>Hi {{.CandidateName}},</p>
<p>Thanks for applying for <strong>{{.JobTitle}}</strong> at {{.OrgName}}. Your
application is with the recruiting team and we will be in touch as it moves
along.</p>
<p>&mdash; {{.OrgName}}</p>
